<div class="imagem"></div>
<div class="fundo">
    <div class="box">
        <h1>FIQUE POR DENTRO DAS NOTICIAS</h1>
        <div class="texto">
            <p>Agora, você pode acompanhar de perto dicas jurídicas, novidades do mundo do direito,
                e atualizações sobre os nossos serviços.</p>
        </div>
        <button>FIQUE POR DENTRO DAS NOTICIAS</button>
    </div>
</div>
<div class="fundo">
    <div class="box">
        <div class="titulo"><img src="/src/assets/imgs/icons/favicon.png"><h1>ÁREAS DE ATUAÇÃO</h1></div>
        
        <div class="texto">
            
            <p>Compreendemos as necessidades do seu negócio e colaboramos para superar desafios jurídicos, oferecendo
                soluções
                inovadoras e multidisciplinares, apoiadas por nossa ampla experiência nas diversas áreas do Direito.</p>
        </div>
        <button>CONHEÇA NOSSAS ÁREAS DE ATUAÇÃO</button>
    </div>
</div>
<div class="box-contato">
    <h1>ACOMPANHE-NOS EM NOSSAS PLATAFORMAS DIGITAIS</h1>
    <p>Agora, você pode acompanhar de perto dicas jurídicas, novidades do mundo do direito,
        e atualizações sobre os nossos serviços.</p>
    <div class="box" id="cards">
        <div class="card"><h1>Instagram</h1><h2>MarencoMartins</h2></div>
        <div class="card"><h1>Linkedin</h1><h2>MarencoeMartins</h2></div>
        <div class="card"><h1>Notícias</h1><h2>Fique por dentro</h2></div>
    </div>
</div>