<div class="imagem"></div>
<div class="box">
    <div class="texto">
        <h3>NOSSO ESCRITÓRIO</h3>
        <p>No escritório Marenco e Martins, nossa equipe é composta por profissionais altamente qualificados e
            comprometidos em oferecer soluções jurídicas de excelência. Contamos com advogados experientes,
            especializados em diversas áreas do Direito, que trabalham de forma colaborativa para proporcionar o melhor
            resultado aos nossos clientes.</p>
    </div>
</div>
<div class="box-texto"><h3>NOSSOS DIFERENCIAIS</h3></div>
<div class="box" id="box-total">
    <div class="box-images"><img src="" alt=""><p>Atendimento personalidade</p></div>
    <div class="box-images"><img src="" alt=""><p>Expertise em soluções práticas</p></div>
    <div class="box-images"><img src="" alt=""><p>Foco na resolução do litígio</p></div>
</div>
<div class="box-area">
    <div class="texto">
    <h3>ÁREAS DE ATUAÇÃO</h3>
    <p>Compreendemos as necessidades do seu negócio e colaboramos para superar desafios jurídicos, oferecendo soluções
        inovadoras e multidisciplinares, apoiadas por nossa ampla experiência nas diversas áreas do Direito.</p>
    </div>
    <div class="box" id="box-total">
        <div class="box-images"><img src="" alt=""></div>
        <div class="box-images"><img src="" alt=""></div>
        <div class="box-images"><img src="" alt=""></div>
    </div>
</div>
<div class="box-contato">
    <h3>ENTRE EM CONTATO</h3>
    <p>Clique no botão e entre em contato conosco.</p>
    <button>Entre em contato</button>
</div>