.imagem {
    height: 700px;
    width: 100%;
    background-image: url(../../../assets/imgs/VIDEO\ HEADER.png);
    background-size: cover;
}

.fundo{
    background-color: #2C2A30;
}

.box {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}
#cards{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
#cards h2{
    color: #C02331;
}
.card{
    background-color: #2C2A30;
    width: 250px;
    height: 250px;
    border-bottom: solid 5px #C02331;
}

.box-contato {
    height: 700px;
    width: 60%;
    margin: auto;
    text-align: center;
}

.texto {
    width: 50%;
    font-size: 16px;
    font-weight: 12px;
}
.titulo{
    display: flex;
}
p{
    align-text: center;
    
}
button{
    border-radius: 5px;
    background-color: #C02331;
    width: 450px;
    height: 35px;
    color: #ffff;
    cursor: pointer;   
    font-size: 16px;
}